* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
}

.titulo-mobile {
    display: none;
}

.titulo {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.largura1 {
    width: 260px;
} 

.largura2 {
    width: 400px;
}

.largura3 {
    width: 540px;
}

.largura4 {
    width: 700px;
}

.largura5 {
    width: 810px;
}

.largura6 {
    width: 935px;
}

.container-cartas {
    height: 316px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 50px;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
}

.carta img {
    width: 100px;
    height: 100px;
}

.face {
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.verso {
    transform: rotateY(180deg);
}

.vira-frente {
    transform: rotateY(0deg);
}

.vira-verso {
    transform: rotateY(-180deg);
}

@media (max-width: 420px) {
    .largura1, .largura2, .largura3, .largura4, .largura5, .largura6 {
        width: 120px;
    }

    .carta {
        margin-bottom: 34px;
    }

    .titulo {
        display: none;
    }

    .titulo-mobile {
        height: 150px;
        width: 100%;
        display: block;
        padding-top: 40px;
    }

}
